html{
  height: 100%;  
}

body {
    background-color: gray;
    font-family : cabin-regular;
    font-weight:500;
   
     background-position: center center; 
}
#webDesk {
    display:block;
    height:640px;
    width:1024px;
    margin: 0 auto;
}
#desktop {
    display:block;
    background-image:url('background/walnutbgpic.jpg');
    height:638px;
    width:1020px;
        border:2px white;
        border-top-style:solid;
        border-right-style:solid;
        border-left-style:solid;
        border-top-right-radius:18px;
        border-top-left-radius:18px;
}
#menu {
    height:60px;
    width:1020px;
    border:2px solid white;
    border-bottom-left-radius:14px;
    border-bottom-right-radius:14px;
}

.button {
    float:left;
    display:block;
    height:inherit;
    margin-left:5px;
    -webkit-transition:-webkit-tranform.2s ease-in-out;
    
}
 .button:hover {
        -webkit-transform:scale(1.2);
    }
#menu img {
    padding-top :10px;
    padding-left:10px;
    padding-right:10px;
}
#imgFolder{
    display:block;
    position:relative;
    height:375px;
    width:450px;
    border:2px solid white;
    left:10%;
    top:10%;
    border-radius:9px;
 }
 .topImage {
     float:left;
     display:block;
     padding:2px;
 }
 
 .topClose {
     float:right;
     display:block;
     margin-right:2px;
     -webkit-transition: -webkit-transform .2s ease-in-out;
  
 }
 
 .topClose:hover {
     -webkit-transform: scale(0.8);
}

#picContainer {
    display:block;
    background-color:#c4c4c4;
}